# ranger python cache files
config/ranger/__pycache__
config/ranger/plugins/__init__.py
config/ranger/plugins/__pycache__

# lazygit state
config/lazygit/state.yml
config/lazygit/.tmp

# bundle cache
config/bundle/cache/

# cmus
config/cmus/*
!config/cmus/darkwind.theme

# local shell configs
config/shell/local.sh

# tmux plugins
config/tmux/plugins/

# zsh
.zsh_history
.oh-my-zsh
.zcompdump*
