[user]
    email = iam2kabhishek@gmail.com
    name = Abhishek Keshri
    signingkey = 62BD6AA2E913B3D3

[commit]
    gpgSign = true

[credential]
    helper = cache --timeout 3600

[core]
    editor = nvim
    pager = delta --dark
    excludesFile = ~/.gitignore.global

[interactive]
    diffFilter = delta --color-only --highlight-removed

[color]
    ui = true

[protocol]
    version = 2

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[init]
    defaultBranch = main

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[include]
    path = ~/.config/delta/delta.gitconfig

[delta]
    features = mantis-shrimp
