[user]
    email = iam2kabhishek@gmail.com
    name = Abhishek Keshri

[credential]
    helper = cache --timeout 3600

[core]
    editor = nvim
    pager = delta --dark --highlight-removed

[interactive]
    diffFilter = delta --color-only --highlight-removed

[delta]
    features = mantis-shrimp

[delta "mantis-shrimp"]
    dark = true
    hyperlinks = true
    keep-plus-minus-markers = true
    line-numbers = true
    navigate = true
    side-by-side = true
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    file-style = omit
    zero-style = syntax
    syntax-theme = Monokai Extended
    commit-decoration-style ="#ff5500" box
    commit-style = "#FFD21A" bold italic
    hunk-header-decoration-style = "#1688f0" box ul
    hunk-header-file-style = "#FFD21A" ul bold "#640BFF"
    hunk-header-line-number-style = "#FFD21A" box bold
    hunk-header-style = file line-number syntax bold italic
    line-numbers-left-format = "{nm:>1}|"
    line-numbers-left-style = "#1688f0"
    line-numbers-minus-style = red bold
    line-numbers-plus-style = green bold
    line-numbers-right-format = "{np:>1}|"
    line-numbers-right-style = "#1688f0"
    line-numbers-zero-style = "#aaaaaa" italic
    minus-emph-style = syntax bold "#b80000"
    minus-style = syntax "#5d001e"
    plus-emph-style = syntax bold "#007800"
    plus-style = syntax "#004433"
    whitespace-error-style = "#280050"

[color]
    ui = true

[protocol]
    version = 2

[pull]
    rebase = false

[init]
    defaultBranch = main
