[user]
    email = iam2kabhishek@gmail.com
    name = Abhishek Keshri
    signingkey = ~/.ssh/id_ed25519.pub

[alias]
    a = add
    # Ignores whitespace changes, code movement, and renames
    bl = blame -w -C -C -C --color-lines --color-by-age
    c = commit -m
    co = checkout
    d = diff --word-diff -M -C
    l = pull
    m = merge
    p = push
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Takes regex as argument and searches for it in the entire git history
    pi = log -p -S
    re = rebase -i
    s = status -s
    sw = switch
    alias = config --get-regexp alias
    stash = stash -all
    tag = tag -s
    unstash = stash pop
    # List contributors with number of commits.
    contributors = shortlog --summary --numbered
    # Interactive rebase with the given number of latest commits.
    reb = "!r() { git rebase -i HEAD~$1; }; r"
    # Find commits by source code
    fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
    # Find commits by commit message
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
    # Remove branches that have already been merged with current branch
    bye = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

[apply]
    whitespace = fix

[color]
    ui = true

[commit]
    gpgSign = true

[core]
    editor = nvim
    pager = delta --dark
    excludesFile = ~/.config/gitignore.global
    ignorecase = false

[credential]
    helper = cache --timeout 3600

[diff]
    colorMoved = default

[fetch]
    prune = true
    output = compact

[help]
    autocorrect = 1

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only --highlight-removed

[log]
    decorate = short

[merge]
    conflictstyle = diff3
    log = true

[protocol]
    version = 2

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    autoSetupRemove = true

[rebase]
    autoStash = true
    updateRefs = true

[include]
    path = ~/.config/delta/delta.gitconfig

[delta]
    features = mantis-shrimp
[rerere]
    enabled = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[gpg]
    format = ssh
