[user]
    email = iam2kabhishek@gmail.com
    name = Abhishek Keshri
    signingkey = 62BD6AA2E913B3D3

[apply]
    whitespace = fix

[color]
    ui = true

[commit]
    gpgSign = true

[core]
    editor = nvim
    pager = delta --dark
    excludesFile = ~/.config/gitignore.global
    ignorecase = false

[credential]
    helper = cache --timeout 3600

[diff]
    colorMoved = default

[fetch]
    prune = true
    output = compact

[help]
    autocorrect = 1

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only --highlight-removed

[log]
    decorate = short

[merge]
    conflictstyle = diff3
    log = true

[protocol]
    version = 2

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    autoSetupRemove = true

[rebase]
    autoStash = true

[include]
    path = ~/.config/delta/delta.gitconfig

[delta]
    features = mantis-shrimp
